
    <div class="form_plug">
        <div class="holder">
            <h2>
                No Polls created yet
            </h2>
            <div class="plug_text_holder">
                Create your first poll by clicking the plus button.
                Also you can create an account or Log in if you have already created one. <br/>
                Anonymous account allows you to CREATE, DO polls and see THE LATEST done poll results. <br/><br/>
                By the way, click on <span>The Polls</span> to come back to the home page.
            </div>
            <i class="fa-solid fa-hippo"></i>
        </div>
    </div>