.DS_Store
/.idea/
__pycache__
.venv/
*.py[cod]
TestingArea/
Lesson_3/test.py
Lesson_7/practice.py
Lesson_8/test.py
Lesson19/init_db.py
Lesson19/secretKey.py
Lesson_20/init_db.py
Lesson_20/secretKey.py
