{% extends 'main/base_registration.html' %}

{% block title %}
    Song Album
{% endblock %}

{% block bigUpperText %}
    Are you going to add a new album? That's cool!
{% endblock %}

{% block formName %}
    Add some basic information
{% endblock %}

{% block form %}
<form method="post" class="form album_form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="registration_box_button_holder">
        <button type="submit" id="submitBtn">
            Create album
        </button>
    </div>
    <script>

    </script>
</form>
{% endblock %}

{% block smallBottomText %}
    Quite creating album?
{%  endblock %}

{% block urlToRedirect %}
    <a href="{% url 'cabinet' %}">
        Back to cabinet.
    </a>
{% endblock %}

{% block icon %}
    <i class="fa fa-bolt" aria-hidden="true"></i>
{% endblock %}