{% extends 'main/base_registration.html' %}

{% block title %}
    Welcome back
{% endblock %}

{% block bigUpperText %}
    We missed you. Welcome back!
{% endblock %}

{% block formName %}
    Log in as a listener
{% endblock %}

{% block form %}
<form method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="registration_box_button_holder">
        <button type="submit">
            Log in
        </button>
    </div>
</form>
{% endblock %}

{% block smallBottomText %}
    Haven't been here before?
{%  endblock %}

{% block urlToRedirect %}
    <a href="{% url 'registration' %}">
        Create a new account.
    </a>
{% endblock %}

{% block icon %}
    <i class="fa fa-rocket" aria-hidden="true"></i>
{% endblock %}