{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="poll_show">
    <h2>Registration</h2>
    <form method="POST" class="form" action="{{ url_for('register') }}">
        <div class="input_holder">
            <input class="input" type="text" name="username" placeholder="Username" required>
            <input class="input" type="text" name="email" placeholder="Email" required>
            <input class="input" type="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}
