{% extends 'main/base.html' %}

{% block title %}
    About page
{% endblock %}

{% block body %}
    <div class="main_wrapper">
        <div class="about_holder">
            <div class="about_side">
                <div class="about_header_holder">
                    <span class="about_header">
                        Рейтинг постов
                    </span>
                </div>
                <div class="about_text_holder">
                    <span class="about_text">
                        Каждый авторизованный пользователь может оставить отметку от одного до 5. Рейтинг поста отображается как
                        средний рейтинг среди всех пользователей, которые поставили отметку. Один пользователь - одна отметка для одного поста.
                        Пользователь может менять свою отметку сколько угодно раз.
                    </span>
                </div>
            </div>
            <div class="about_side">
                <div class="about_header_holder">
                    <span class="about_header">
                        Ответы на комментарии
                    </span>
                </div>
                <div class="about_text_holder">
                    <span class="about_text">
                        Авторизованный пользователь может ответить на любой комментарий под постом. Для этого следует нажать на иконку
                        сообщения возле имени создателя комментария, после чего она изменит цвет с серого на голубой. Если же требуется
                        оставить все же обычный комментарий, то можно еще раз на нее нажать (она снова станет серой). Когда иконка горит голубым
                        можно написать комментарий и отправить его, тогда это будет комментарий - ответ на другой комментарий.
                    </span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
